ul#filters li {
	display: inline-block;
}

.blog-posts-container {
	margin: 0;
	max-width: 100%;

	.column {
		padding-left: 1px;
		padding-right: 1px;
	}

	.blog-posts-container--post {
		padding-bottom: 60%;
		background-size: cover;
		margin-bottom: 2px;
		position: relative;
		filter: grayscale(1);
		transition: filter .3s;

		&:hover {
			filter: grayscale(.5);
			transition: filter .3s;

				.blog-posts-container--details {
					background: rgba(0,0,0,.2);
				}	

		}
	}

	.blog-posts-container--details {
		position: absolute;
		bottom: 20px;
		left: 20px;
		color: #fff;
		background: rgba(0,0,0,.4);
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    padding: 30px;

		h2 {
			text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.26);
		}
	}

} // blog-posts-container



#example_length {

	select {
	    display: inline-block;
	    float: left;
	}

}
 
tfoot input {
	width: 100%;
}

.form-50pc {
	width: 50%;
    display: inline-block;
}

.form-50pc-inputs span {
	    width: 49%;
    display: inline-block;

    &:nth-of-type(1) {
    	margin-right: 8px;
    }
}


.search-results-count {
	display: block;
}

.review-bottom .add-review {
	display: none;
}





/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */