.site-footer {
	background-color: $grey-light;
	border-top: solid 10px $blue;
	border-bottom: solid 10px $grey-medium;
	max-width: 100%;
	padding: rem-calc(30);
	position: relative;
	z-index: 20;

	a {
		color: $black;

		&:hover {
			font-weight: 600;
		}
	}

	.button {
		display: inline-block;
		margin-top: 15px;
	}

	ul {
		margin: 0;
		list-style: none;
	}

	h4 {
		font-weight: 600;
		font-size: rem-calc(22);
	}

	div {
		display: inline-block;
		float: left;
		padding: rem-calc(30);
	}

	.footer-logo-container {
		width: 22%;

		img {
			margin-bottom: rem-calc(30);
		}
	}

	.footer-available-jobs {
		width: 20%;
	}

	.footer-salary {
		width: 20%;
	}

	.footer-graduates {
		width: 20%;
	}

	.footer-employers {
		width: 18%;
	}


	.footer--social-media {
		float: right;
		display: inline-block;
		text-align: right;
		padding-top: 0;
		a {
			display: block;
			margin-bottom: 15px;
		}
	}

	.footer--column1 {
		padding: 0;
	}

} // .site-footer



.footer-copyright, .footer-credit {
	width: 50%;
	display: inline-block;
	padding: rem-calc(30);
}

.footer-credit {
	text-align: right;
	float: right;
}