.gform_wrapper {

	input, textarea, select {
		display: block;
		width: 100%;
		min-height: rem-calc(45);
		border: solid 2px transparentize($black, .75);
		padding: rem-calc(20);
	}

	textarea {
		height: rem-calc(160);
		margin-bottom: 0;
	}

	li {
		padding: rem-calc(10);
		margin-bottom: rem-calc(15);
	}

	ul {
		margin: 0;
		list-style: none;
	}

	label {
		font-size: rem-calc(18);
		font-weight: 600;
		margin-bottom: rem-calc(4);
		display: block;
	}

	.gfield_required {
		color: $blue;
		margin-left: 5px;
	}

	.ginput_container_fileupload {
		background-color: #E6E7E8;
		padding: rem-calc(15);
		border: dashed 1px $grey-medium;

		.button {
			@extend .button.gold;
			display: inline;
			width: auto;
		}
	}

	input[type="checkbox"] {
		display: inline; 
	    width: auto;
	    min-height: 30px;
	    border: none;
	    padding: 0;
	    margin-right: 20px;
	    float: left;
	    height: 16px;
	    width: 16px;
	}



	#field_1_3 {			// ================ apply for this job - "upload your CV" field
		label {
			display: inline-block;
    		width: 50%;
		}

		.gfield_description {
			width: 50%;
		    display: inline-block;
		    text-align: right;
		}
	} // field_1_3


	#field_1_4 {			//==================== cover letter text area
		margin-bottom: 0;	
	}


	#field_1_5 {			//	================== terms and conditions
		
		.gfield_label {
			display: none;		// ============== hide "terms & conditions" label
		}

		label {
			float: left;
		}

	} // field_1_5


	#field_1_6,#field_10_6 {			// ======================= validation field
		display: none;
	}

	.gform_footer {
		text-align: center;
		clear: both;
	}

	.gform_footer .button {
		display: inline-block;
		background-color: $pink;
		color: #fff;
		margin: 0 auto;
		width: auto;
		border: none;
		font-size: rem-calc(22);
	}

} // gform_wrapper

.form-field-half {
	float: left;
	display: inline-block;
	width: 50%;
}

.form-field-quarter {
	float: left;
	display: inline-block;
	width: 25%;
}


.form-field-one-third {
	float: left;
	display: inline-block;
	width: 20%;
}


.form-field-two-thirds {
	float: left;
	display: inline-block;
	width: 30%;
}



.ginput_container_checkbox {

	li {
		    width: 50%;
		    display: inline-block;
		    float: left;
	}


	input[type="checkbox"] {
	    margin-right: 5px;
	}



}



#input_2_1_3_container, #input_2_1_6_container {

	label {
		font-size: 1rem;
    font-weight: 400;
	}
}



#gform_page_5_1 {

	.gfield_checkbox li:hover {
		label {
			font-weight: 800;
		}
	}

	 input:hover, select:hover, textarea:hover {
		    border: solid 2px rgba(35,31,32,.5);
		}
}


#searchsubmit {
	cursor: pointer;
}



.gf_progressbar {
	background: $grey-medium;
}

.gf_progressbar_percentage {
    background: #00bdd6;
}

.gf_progressbar_percentage span {
	display: block;
	padding: 15px 0;
    padding-left: 15px;
    color: #fff;
    font-weight: bold;
}

h3.gf_progressbar_title {
	font-size: 1.5rem;
}






#gform_wrapper_5, #gform_wrapper_6 { // ======================================= graduates job review survey

	.gform_page_footer {	// next and previous pages buttons
		input[type="button"], input[type="submit"] {
			width: 49%;
			display: inline-block;
			font-weight: 800;

			&:nth-of-type(0) {
				float: right;
			}
		}

		input[type="button"].gform_previous_button {
				background: #b3b3b3;
				font-weight: 400;
		}

	}

	.gform_save_link {
		clear: both;
		margin-top: 20px;
    	display: block;
	}

	 li {
	    padding: 0.5rem;
	    margin-bottom: 0;
	    vertical-align: top;
	}

	#field_5_21, #field_6_14, #field_6_52 {
		label {
			clear: both;
			margin-top: 15px;
		}

	}


	.form-right-box, .form-left-box {
		width: 49%;
		display: inline-block;
		float: left;
	}

	input[type="text"], input[type="email"], input[type="number"], select {
		min-height: 2.5rem;
	    padding: .5rem;
	}

	input[type="radio"] {
		    display: inline-block;
		    width: 30px;
		    min-height: .7rem;
	}

	.gfield_radio {
		label {
			display: inline-block;
			margin-left: 15px;
		}

		li {
			padding-top: 0;
		}
	}

	.gsurvey-survey-field  {

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		label.gfield_label {
			font-size: 18px !important;
		}

		label {
			font-size: 0 !important;
		}

		.gfield_radio label {
			font-size: 1rem !important;
		}

		.gsurvey-rating {
			position: relative;
			margin-bottom: 35px;
		}

		.gsurvey-rating:after {
			content: "1= poor, 5= excellent";
			clear: both;
		    position: absolute;
		    top: 25px;
		    width: 320px;
		}

	}

	#field_5_72, #field_5_81 {
		clear: both;
	}

	.gfield_time_hour, .gfield_time_minute {
		    display: inline-block;

		    input {
		    	float: left;
    			max-width: 100px;
		    }

		    i {
			    font-style: normal;
			    margin: 4px;
			    margin-left: 7px;
			}
	}

	.form-yes-no {

		li {
			display: inline;
			width: auto;

			label {
				margin-left: 0;
			}
		}

	}


	.gchoice_5_157_1 {
		float: none;
	}


} //gform_wrapper_5


.gform_validation_container  {
	opacity: 0;
    height: 0;
}




@media (max-width: 640px) {	


	#gform_wrapper_5 { // ======================================= graduates job review survey

		.form-right-box, .form-left-box {
			width: 100%;
			float: none;

		}

	} //gform_wrapper_5

}