$grey-light: #F1F2F2;
$grey-light2: #E6E7E8;
$grey-medium: #D1D3D4;
$grey-dark: #414042;
$blue: #00BDD6;
$blue-dark: darken($blue, 10%);
$black: #231F20;
$pink: #EC008C;
$green: #39B54A;
$gold: #BA8E52;

$fancy-font: 'Roboto Slab', serif;
$normal-font: 'Lato', sans-serif;


h1, h2, h3, h4, h5, p, li { 
  font-family: $normal-font;
}
.row {
  max-width: 1830px;
  position: relative;
  z-index: 20;
}

.row.fullwidth {
  max-width: 100%;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  display: inline-block;
  transition: fill .3s;
}

.background-grey { 
  background-color: $grey-light;
}

.background-lightest-grey {
  background-color: lighten($grey-light,3%); 
}

.flush-sides {
  padding-left: 0;
  padding-right: 0;
}

.flush-columns .columns {
  padding-left: 0;
  padding-right: 0;
}

.padded {
  padding: rem-calc(30);
}

.padded-half {
  padding: rem-calc(15);
}

p {
  font-size: rem-calc(18);
}

h2, .section-title {
  font-size: rem-calc(22);
  font-weight: 600;
}

hr {
  max-width: 100%;
}

.button, .dt-button {
    padding: 0.85em 1em;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    line-height: 1;
    text-align: center;
    background-color: $blue;
    color: #fff;
    display: inline-block;

  &:hover {
    background-color: darken($blue, 5%);
    color: #fff;
  }

}

.dt-button {
  cursor: pointer;
}

input[type="submit"] {
    cursor: pointer;
}

.button.white {
  background-color: #fff;
  color: $black;
  border: solid 1px $black;

  &:hover {
    background-color: darken(#fff, 5%);
  }

}

.button.pink {
  background-color: $pink;
  color: #fff;

  &:hover {
    background-color: darken($pink, 5%);
  }
}

.button.blue {
  background-color: $blue;
  color: #fff !important;

  &:hover {
    background-color: darken($blue, 5%);
  }
}

.button.gold {
  background-color: $gold;
  color: #fff !important;

  &:hover {
    background-color: darken($gold, 5%);
  }
}

.button.block {
  display: block;
}

.button.larger-text {
  font-size: rem-calc(22);
}

.button.dark-grey {
  background-color: $grey-dark;
  color: #fff;

  &:hover {
    background-color: darken($grey-dark, 5%);
  }
}

.button-footer {
  display: block;
  width: 100%;
  padding: rem-calc(12) rem-calc(20);
  font-family: $fancy-font;
}


.button-centered {
  display: block;
  text-align: center;

  .button {
    display: inline-block !important;
    margin: 0 auto;
  }

}
.icon-heart {
  fill: $pink;
}

.icon-heart-white {
  fill: #fff;
  stroke: #000;
  stroke-width: 15px;
}

.stars {
    font-size: rem-calc(14);
    color: $black;
    text-align: right;
    padding-left: 0;
    padding-right: 0;

    .icon {
    float: left;
    margin-right: 2px;
    fill: $gold;
    stroke-width: 20px;
    stroke: darken($gold, 10%);
    }

    .icon.icon-star-white {
    fill: #fff;

    }
} // stars


a {
  color: $blue;
}

.testimonial {

    p {
        font-style: italic;
    }

    span {
        font-weight: bold;
    }

}




.stars {
    position: relative;
    height: rem-calc(20);
    width: rem-calc(111);
    margin-top: 0;
    display: inline-block;

  .stars-gold, .stars-white {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }

  .stars-gold {
      background-image: url('../../../img/stars-gold.png');
      background-size: cover;
      height: rem-calc(20);
      width: rem-calc(111);
      z-index: 20;
  }

  .stars-white {
      background-image: url('../../../img/stars-white.png');
      background-size: cover;
      height: rem-calc(20);
      width: rem-calc(111);
  }
} // stars


.review-count {
    float: right;
    color: $black;;
    font-size: .9rem;
    display: inline-block;
}