.site-header {
	padding: rem-calc(20);
	position: relative;
}


.site-header--menu-link {
	display: none;
	
	.icon {
		float: left;
    	margin-right: 6px;
    }
}


.site-header--top-nav {
	position: absolute;
	top: rem-calc(15);
	right: rem-calc(15);

	li {
		display: inline-block;
	}

	a {
		padding: rem-calc(15) rem-calc(15);
		color: $black;
		font-family: $fancy-font;
		font-size: rem-calc(16);
		transition: color .3s;

		&:hover {
			color: $gold;
			transition: color .3s;
			
			.icon {
				fill: $gold;
				transition: fill .3s;
			}
		}
	}

	.icon {
		fill: #000;
		height: 19px;
		width: 22px;
		display: inline-block;
		margin-bottom: -2px;
		margin-right: 3px;
	}

} // site-header--top-nav


.main-nav-container {
	background-color: $grey-light;
	padding: rem-calc(12);
	position: relative;

	.main-nav-container--main-nav {
		margin: 0;

		li {
			display: inline-block;
		}

		a {
			padding: rem-calc(12) rem-calc(20);
			color: $black;
			font-family: $fancy-font;
			font-size: rem-calc(18);
			
			&:hover {
				color: $gold;
			}
		} // a

		.main-nav--review-your-job a {
			background-color: $pink;
			color: #fff;
			position: absolute;
			right: 0;
			top: 0;
			padding: rem-calc(12) rem-calc(30);
			transition: padding .2s;

			&:hover {
				padding: rem-calc(12) rem-calc(40);
				transition: padding .2s;
			}
		}

		.main-nav--review-your-job .icon {
			fill: #fff;
			margin-bottom: -3px;
			margin-right: 9px;
		}

	} // main-nav-container--main-nav

} // main-nav-container





.off-canvas {

	background-color: $black;

	a {
		color: #fff;
		display: block;
		padding: rem-calc(20) rem-calc(10);
	}

	.icon {
		fill: #fff;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		display: block;
		border-bottom: solid 1px transparentize(#fff, .7);
	}

	.off-canvas--nav--review-your-job a {
		background-color: $pink;
		color: #fff;
	}

}


.page-template-page-employers-register .employers-link a {  // =========== will be replaced with wp code
	color: $gold;

	.icon {
		fill: $gold;
	}
}


.not-sure-which-review {
	display: none;
	font-size: 0.9rem;
    margin-top: 20px;
}


.menu-item-has-child-pages {
	position: relative;

	.sub-menu {
		display: none;
	}

	&:hover {
		.sub-menu {
			text-align: center;
			display: block;
			position: absolute;
			left: 0;
			z-index: 999;
    		background: #fff;
    		margin-top: 5px;
    		margin-left: 0;

    		a {
    			display: block;
    			font-size: .9rem;
    		}
		}
	}
}


.reveal .close-button {
	cursor: pointer;
}


.header-advert {
	display: block;
	text-align: center;
	padding: 5px;
	padding-top: 0;
}