.home-hero {
	min-width: 100%;
	height: rem-calc(625);
	position: relative;
	background-color: #2D200E;
	overflow: hidden;

	video, .home-hero--images {
		opacity: .6;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		min-width: 100%;
	    min-height: 100%;

	    img {
	    	min-width: 100%;
		    height: 100%;
		    max-width: 300%;
	    }
	}

	span {
		color: #fff;
		text-align: center;
		z-index: 10;
		position: relative;
		display: block;
	}

	.home-hero--large-text {
		font-size: rem-calc(64);
		margin-top: rem-calc(130);
		font-weight: 600;
	}

	.home-hero--medium-text {
		font-size: rem-calc(32);
	}

	.hero--search {
		max-width: 60%;
		margin: 0 auto;
		margin-top: rem-calc(100);
	}

	.home-hero--images--image {
			height: rem-calc(625);
	}



} // .home-hero


.hero--search {
		font-size: 0;
		text-align: center;

		span {
			display: inline-block;
			margin-right: 2px;
			position: relative;
		}

		input {
			margin: 0;
			height: 72px;
			display: block;
			width: 100%;
			position: relative;
			font-size: rem-calc(20);
			border: none;
		}

		label {
			position: absolute;
			top: 20px;
			left: 19px;	
			color: $black;
			font-size: rem-calc(20);
			pointer-events: none;
			transition: all .3s;
		}

		.hero--search--subject {
			width: 45%;

			 input {
			 	padding-left: 20px;
			 	border-radius: 21px 0px 0px 21px;
				-moz-border-radius: 21px 0px 0px 21px;
				-webkit-border-radius: 21px 0px 0px 21px;
				border: 0px solid #000000;

			 }
		}

		.hero--search--location {
			width: 23%;

			 input {
			 	padding-left: 20px;
			 }
		}

		.hero--search--button {
			width: 27%;
			vertical-align: top;
			
			.button {
				border-radius: 0px 21px 21px 0px;
				-moz-border-radius: 0px 21px 21px 0px;
				-webkit-border-radius: 0px 21px 21px 0px;
				border: 0px solid #000000;
				background-color: $blue;
				font-weight: 600;
				font-size: rem-calc(22);
				line-height: 1.15;
				position: relative;

				&:hover {
					background-color: darken($blue, 6%);
				}
			}
		}


		.has-focus label {
			top: -40px;
			color: #fff;
			transition: all .3s;
		}

} // hero-search





.home-intro {
	padding-bottom: rem-calc(50);
}




.home-intro-text {
	padding-top: rem-calc(30);
	text-align: center;
	max-width: 90%;
	margin: 0 auto;

	h2 {
		font-size: rem-calc(23);
		font-weight: 600;
	}

	p {
		font-family: $normal-font;
		font-weight: 400;
		font-size: rem-calc(18);
	}
} // .home-intro


.home-top100-cta {
	margin-top: rem-calc(30);
	background-image: url('../../../img/employees-bg.jpg');
	background-size: cover;
	text-align: center;
	border-radius: 0px 0px 22px 0px;
	-moz-border-radius: 0px 0px 22px 0px;
	-webkit-border-radius: 0px 0px 22px 0px;
	border: 0px solid #000000;

	span {
		display: block;
		color: #fff;
		transition: transform .3s;
	}

	.home-top100-cta--large {
		font-size: rem-calc(37);
		padding: rem-calc(20);
		font-weight: 800;
		padding-bottom: 0;
	}

	.home-top100-cta--medium {
		padding: rem-calc(20);
		font-size: rem-calc(25);
		padding-top: 0;
	}

	.home-top100-cta--bottom {
		background-color: rgba(255,255,255, .8);
		color: $black;
		padding: rem-calc(15);
		line-height: 1.8;

		.button {
			display: inline-block;
			background-color: $pink;
			margin-bottom: 0;
			padding: 0.45em .8em;
		}
	}

	&:hover {
		.home-top100-cta--medium, .home-top100-cta--large {
			transform: scale(1.05);
			transition: transform .3s;
		}
	}

} // home-top100-cta





.section-header {
	border-bottom: solid 1px $black;

	h2 {
		display: inline-block;
	}

	.button {
		display: inline-block;
		float: right;
		padding: rem-calc(10);
	}

	.icon-edit {
		margin-bottom: -5px;
    	margin-right: 10px;
	}
}



.home-jobs-container {
		border-top: solid 1px $grey-light;
}

.home .job-review {
			min-height: 164px;
}


.job-review {
	padding: rem-calc(20) rem-calc(30);
	border-bottom: solid 1px transparentize($black, .8);
	min-height: 160px;
	clear: both;

	.job-review--logo {
		display: inline-block;
		width: 15%;
		height: 120px;
		margin-right: 5%;
		background-color: #fff;
		text-align: center;
		vertical-align: top;
		display: flex;
		justify-content: center; /* align horizontal */
		align-items: center; /* align vertical */
		float: left;

		img {
			max-height: 90%;
    		max-width: 90%;
	  		flex: 0 0 auto;
		}
	}

	.job-review--middle {
		display: inline-block;
		width: 60%;
		color: $black;
		.job-review--title {
			font-weight: 600;
			font-size: rem-calc(17);
			display: block;
		}

		.job-review--details {
			font-weight: 400;
			font-size: rem-calc(14);
			display: block;
			margin: rem-calc(10) 0;
		}
	}

	.job-review--button {
		display: inline-block;
		width: 18%;
		vertical-align: top;
    	margin-top: 35px;
	}

	&:hover {
		background-color: darken($grey-light, 5%);	
	}

} // .job-review




.job-reviews-container {
	clear: both;
}


.stats-cta {
	background-color: $blue;
	overflow: hidden;
	height: 175px;
	padding: 0;
	position: relative;

	div {
		text-align: center;
		padding: rem-calc(8);
		padding-bottom: rem-calc(30);
		padding-top: rem-calc(22);
	}

	span {
		color: #fff;
		display: block;
		background-color: $blue; 
	}

	.large {
		font-size: rem-calc(28);
		font-weight: 600;
	}

	span.large>strong {
		font-size: rem-calc(44);
		font-family: $fancy-font;
		display: inline-block;
		font-weight: 800;
	}

	.medium {
		font-size: rem-calc(22);
	}

}

#stats-cta-anim {
	right: -40px;
	position: absolute;
	z-index: 0;
	top: -40px;
}

.stats-cta-anim--lines {
		fill:none;
		stroke:#231F20;
		stroke-width:7.853;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-dasharray:7,5;
		stroke-dasharray: 20;
		animation: dash 65s infinite linear;
}


@keyframes dash {					// the homepage dashed lines animation
  to {
    stroke-dashoffset: -1000;
  }
}




.interview-tips-cta {
	position: relative;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;

	h3 {
		font-weight: 600;
		font-size: rem-calc(22);
	}

	p {
		font-size: rem-calc(18);
	}

	.interview-tips--person-container {
		//position: relative;
		width: 17%;

		.interview-tips--person {
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 999999;
		}

	} // interview-tips--person-container


	.interview-tips--person-details {
		width: 22%;
		padding-top: 0;

		span {
			font-style: italic;
			font-size: rem-calc(18);
			line-height: 1.8;
		}

	}

	.interview-tips--tip-container {
		width: 28%;
		-webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
		border-radius: rem-calc(20);
		transition: box-shadow .4s;

		&.first-tip {
			margin-right: rem-calc(40);
		}

		.interview-tips--tip-number {
			background-color: black;
			height: rem-calc(65);
			width: rem-calc(65);
			display: block;
			text-align: center;
			vertical-align: middle;
			color: #fff;
			border-radius: 300px;
			font-size: rem-calc(37);
			font-weight: bold;
			font-style: italic;
			display: inline-block;
		}

		.interview-tips--tip-content {
		    max-width: 80%;
		    float: right;
		    display: inline-block;
		    font-size: rem-calc(18);

		    .interview-tips--title {
		    	font-weight: 600;
		    	font-size: rem-calc(22);
		    	display: block;
		    }
		}
	

		&:hover {
			-webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.50);
			-moz-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.50);
			box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.50);	
			transition: box-shadow .4s;
		}
	} // interview-tips--tip-container


	.interview-tips--button {
		    margin-top: rem-calc(-30);
		    float: none !important;
		    clear: both;
		    display: block;
	}

	&>div {
		display: inline-block;
		float: left;
		padding: rem-calc(30);
	}


} //interview-tips-cta




.home-advert {
	padding: rem-calc(30);	
}