@media (max-width: 1890px) {

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content .interview-tips--title {
	     font-size: 1.25rem;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content {
	    font-size: 1.1rem;
	}


} // 1890px




@media (max-width: 1660px) {

	html, body {
		font-size: 93%;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content .interview-tips--title {
	     font-size: 1.25rem;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content {
	    font-size: 1.1rem;
	}

	.home-hero .hero--search input {
	    font-size: 1.375rem;
	}


} // 1660px






@media (max-width: 1600px) {

	.interview-tips-cta .interview-tips--person-container {
	    width: 19%;
			
		.interview-tips--person {
		    max-width: 23%;
		}

	}

    .interview-tips-cta .interview-tips--tip-container {
	    width: 27%;	
	}

    .interview-tips-cta .interview-tips--tip-container.first-tip {
		    margin-right: 2rem;
	}

	.interview-tips-cta .interview-tips--person-details span {
	    font-size: 1.1rem;
	    line-height: 1.7;
	}



} // 1600px









@media (max-width: 1550px) {

	.home-hero .hero--search label {
	    font-size: 1.15rem;
	}

	.home-hero .hero--search input {
	    font-size: 1.15rem;
	}

	.home-hero .hero--search .hero--search--button .button {
	    font-size: 1.15rem;
	}

} // 1550









@media (max-width: 1515px) {

	.interview-tips-cta > div {
	    padding: 1.6rem;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-number {
	    height: 3rem;
	    width: 3rem;
	    font-size: 1.8rem;
	}

	.interview-tips-cta .interview-tips--tip-container {
	    padding: 1.3rem;
	}

	.stats-cta .largest {
	    font-size: 2.5rem;
	}

	.stats-cta .large {
	    font-size: 1.6rem;
	}


} // 1515px










@media (max-width: 1430px) {

	.home-hero .hero--search {
	    max-width: 70%;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content .interview-tips--title {
	    font-size: 1.15rem;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-content {
	    font-size: 1rem;
	}

	.interview-tips-cta .interview-tips--person-details span {
	    line-height: 1.5;
	}



} // 1430px











@media (max-width: 1250px) {

	.home-hero .hero--search {
	    max-width: 80%;
	}

} // 1250















@media (max-width: 1140px) {


	.stats-cta .largest {
	    font-size: 2.2rem;
	}

	.stats-cta .large {
	    font-size: 1.4rem;
	}

	.interview-tips-cta .interview-tips--tip-container {
	    display: none;

	    &.first-tip {
	    	display: block;
	    	width: 42%;
	    }
	}

	.interview-tips-cta .interview-tips--person-details {
	    width: 28%;
	}

	.interview-tips-cta .interview-tips--person-container {
	    width: 25%;
	}

	.interview-tips-cta .interview-tips--person-container .interview-tips--person {
		    max-width: 28%;
		}

} // 1140














@media (max-width: 1090px) {

	.home-hero .hero--search {
	    max-width: 90%;
	}

	.site-footer div {
	    padding: 1.45rem;
	}

	.site-footer {
	    padding: 1.35rem;
	}

} // 1090








@media (max-width: 1024px) {

	.site-footer div {
	    text-align: center;
	    width: 50% !important;
	}

	.site-footer .footer-logo-container {
	    width: 100% !important;
	}

	#stats-cta-anim {
	    height: 110%;
	}

	.stats-cta {
	    height: auto;
	}

	.site-header--top-nav a {
    	padding: 0.1375rem 0.45rem;
	}

	.home-intro-text {
	    max-width: 100%;
	}

	.home-top100-cta .home-top100-cta--large {
	    font-size: 2rem;
	    padding: 1.1rem;
	    padding-bottom: 0;
	}

	.home-top100-cta .home-top100-cta--medium {
	    padding: 1.1rem;
	    padding-top: 0;
	    font-size: 1.4rem;
	}

	.home-hero .home-hero--medium-text {
	    font-size: 1.5rem;
	}

	.home-hero .home-hero--large-text {
	    font-size: 3rem;
	}

	.home-hero .hero--search {
	    max-width: 97%;
	}

	.home-hero .hero--search .hero--search--button {
	    width: 20%;
	}

	.home-hero .hero--search .hero--search--subject {
	    width: 52%;
	}

	.home-hero .hero--search .hero--search--location {
	    width: 25%;
	}

} // 1024







@media (max-width: 950px) {


	.site-header--menu-link {
		display: block;
	    position: absolute;
	    right: rem-calc(20);
	    top: 1rem;
	    border: solid 1px $black;
	    padding: 4px;
	    color: $black;
	}

	.site-header--top-nav {
	     top: 4rem;
	}

	.site-header--top-nav li {
	    display: none;

	    &.site-header--top-nav--signup {
	    	display: block;
	    }
	}

	.footer-copyright, .footer-credit {
	    width: 100%;
	    text-align: center;
	    float: none;
	}


} //  950











@media (max-width: 810px) {

	.main-nav-container .main-nav-container--main-nav li {
	    display: none;

	    &.main-nav--review-your-job, &.main-nav--find-a-job {
	    	display: block;
	    }
	}

	.interview-tips-cta .interview-tips--tip-container.first-tip {
	    margin-right: 0;
	}
	
	.interview-tips-cta > div {
	    padding: 1.2rem;
	}

	.interview-tips-cta .interview-tips--person-details {
	    width: 30%;
	}
	
	.interview-tips-cta .interview-tips--tip-container.first-tip {
	    width: 43%;
	}


	.home-hero .hero--search {
	    max-width: 100%;
	}

	.home-hero .hero--search .hero--search--button {
	    width: 18%;
	}

	.home-hero .hero--search .hero--search--subject {
	    width: 57%;
	}

	.home-hero .hero--search .hero--search--location {
	    width: 22%;
	}


} // 810








@media (max-width: 700px) {

	.home-hero .hero--search .hero--search--button {
	    width: 50%;

	    .button {
	    	border-radius: 21px;
		    -moz-border-radius: 21px;
		    -webkit-border-radius: 21px;
		    margin-top: 2px;
		}
	}

	.home-hero .hero--search .hero--search--subject {
	    width: 70%;
	}

	.home-hero .hero--search .hero--search--location {
	    width: 28%;
	   	
	   	input {
	   		border-radius: 0px 21px 21px 0px;
		    -moz-border-radius: 0px 21px 21px 0px;
		    -webkit-border-radius: 0px 21px 21px 0px;
		}

	}

	.home-hero .hero--search label {
	    font-size: 1rem;
	}

	.home-hero .hero--search input {
	    font-size: 1rem;
	}

	.home-hero .hero--search .hero--search--button .button {
	    font-size: 1.5rem;
	}

	.interview-tips-cta .interview-tips--tip-container .interview-tips--tip-number {
	    margin-left: -.5rem;
	}

} // 700








@media (max-width: 640px) {

	.site-footer div {
	    width: 100% !important;
	}

	.home-hero .home-hero--large-text {
	     margin-top: 6rem;
	}

	.home-hero .hero--search {
	    margin-top: 5rem;
	}
/*
	.interview-tips-cta .interview-tips--person-details {
	    width: 45%;
	}

	.interview-tips-cta .interview-tips--tip-container.first-tip {
	    width: 100%;
	    margin-right: 1%;
	}

	.interview-tips-cta .interview-tips--person-container {
	   // display: none;
	}*/


	.interview-tips-cta .interview-tips--person-details, .interview-tips-cta .interview-tips--tip-container.first-tip {
	    width: 90%;
    	margin: auto 5%;
	}

	.interview-tips-cta .interview-tips--person-container {
		padding: 0;
	}

	.interview-tips-cta .interview-tips--person-container .interview-tips--person {
	    max-width: 100%;
	    width: 30%;
	    position: static;
	    width: auto;
	}

	.interview-tips-cta .interview-tips--person-details {
		margin: auto;
	    float: left;
	    width: 70%;
	}

	.job-review {
	    padding: 1rem;
	}

	.stats-cta div {
	    padding-bottom: 1.5rem;
	    padding-top: 1.2rem;
	}


} // 640









@media (max-width: 600px) {

	.logo {
		    max-width: 75%;
	}
	
	.site-header {
	    min-height: 95px;
	}

	.main-nav-container .main-nav-container--main-nav .main-nav--review-your-job a {
	    padding: 0.75rem 1rem;

	    &:hover {
			padding: 0.75rem 1rem;
	    }
	}

} // 600








@media (max-width: 500px) {

	
	.home-hero .hero--search .hero--search--subject {
		label {
			//top: 12px;
		}
	}


	/*.interview-tips-cta .interview-tips--person-details, .interview-tips-cta .interview-tips--tip-container.first-tip {
	    width: 90%;
    	margin: auto 5%;
	}*/

	.section-header {
		text-align: center;
	}
	
	.section-header .button {
	    //display: inline-block; 
	    float: none; 
	}

	.home-hero .home-hero--large-text {
	    font-size: 1.5rem;
	    margin-top: 2rem;
	}

	.home-hero .home-hero--medium-text {
	    font-size: 1.2rem;
	}

	.home-hero {		
	    height: 26rem;
	}

	.home-hero .hero--search label {
	    left: 9px;
	    text-align: left;
	    font-size: .9rem;
	}

	.home-hero .hero--search {
	    margin-top: 5rem;
	}
	
	.home-hero .hero--search .hero--search--subject input {
	    padding-left: 8px;
	}

	.home-hero .hero--search .hero--search--location input {
	    padding-left: 8px;
	}

	.home-hero .hero--search .hero--search--subject {
	    width: 60%;
	}
	
	.home-hero .hero--search .hero--search--location {
	    width: 30%;
	}

	.job-review {
	    padding: .8rem;
	}

	.job-review .job-review--logo {
	    margin-right: 4%;
	}

	.job-review .job-review--button {
	    display: block;
	    width: 100%;
	    margin-top: 20px;
	}

	.job-review .job-review--middle {
	    width: 75%;
	}

	.job-review .job-review--logo {
	    width: 20%;
	}

	.job-review .job-review--logo {
	    height: auto;
	    min-height: 80px;
	}

	.site-footer div {
	    padding: 1.25rem;
	}

	.footer-copyright, .footer-credit {
	    padding: 1.25rem;
	}

	.job-reviews .button-footer.pink {
		background-color: $grey-dark;
	}

	.home-hero .hero--search input {
	    height: 63px;
	}

	.home-hero .hero--search label {
	    top: 12px;
	}

	.home-hero .hero--search .has-focus label {
	    top: -47px;
	}

} // 500








@media (max-width: 400px) {

	.site-header {
	    padding: 2rem .5rem;
	}

	.site-header--menu-link {
	    right: .5rem;
	}

	.site-header--top-nav {
	    right: .3rem;
	}

	.main-nav-container .main-nav-container--main-nav a {
	    padding: 0.75rem .25rem;
	}

	.logo {
	    max-width: 70%;
	}

} // 400
