@media (max-width: 1890px) {

	.page-header.row .hero--search {
	    width: 90%;
	}

	.page-header.row .hero--search .hero--search--button {
		width: 19.2%;
	}

	.tabs-title > a {
	    padding: 1.25rem 1rem;
	}


} // 1890px



@media (max-width: 1800px) {

	.tabs-title > a {
	    padding: 1.25rem .75rem;
	}


} // 1800px





@media (max-width: 1700px) {

	.tabs-title > a {
	    padding: 1.25rem .5rem;
	}


} // 1700px




@media (max-width: 1660px) {




} // 1660px






@media (max-width: 1600px) {


	.search-result-block .search-results-block--savethis {
	    padding-right: 0; 
	    padding-left: 0;
	}

	.search-result-block .search-results-block--savethis .icon-heart {
	    margin-right: 4px;
	}


} // 1600px









@media (max-width: 1550px) {

	.page-header-search {
	
		.hero--search .hero--search--location {
		    width: 18%;
		}

		.hero--search .hero--search--subject {
		    width: 60%;
		}

	} // page-header-search

	.search-result-block .search-results-block--moredetails .stars {
	    font-size: 0.75rem;
	}

	.search-result-block {
	    font-size: 1.1rem;
	}

	.search-result-block .search-results-block--moredetails .stars .icon {
	 	max-width: 15px;
	 	max-height: 15px;
	}

	.main-content .sidebar--header h3 {
	    font-size: 1.25rem;
	}


	.page-header.row {
	    padding: 2.5rem 1rem;
	}


	.review-count {
        font-size: .8rem;
	}

	.search-result-block .search-results-block--moredetails {
	    width: 23%;
	}

	.search-result-block .search-results-block--details {
	    width: 34%;
	}


} // 1550









@media (max-width: 1515px) {

	.tabs-title > a {
	    font-size: .9rem;
	}

} // 1515px










@media (max-width: 1440px) {
	
	.main-content .sidebar--header {
	    padding: 0.75rem .6rem;
	}


} // 1440px





@media (max-width: 1430px) {

	/*.search-result-block .search-results-block--details {
	    width: 30%;
	}

	.search-result-block .search-results-block--moredetails {
	    width: 23%;
	}*/

	.page-header.row h1, .page-header.row h2 {
	    font-size: 1.8rem;
	}
	
	.main-content .sidebar-left .sidebar-left--benefits .benefits-number-container span {
	    height: 2.125rem;
	    width: 2.125rem;
	    font-size: 1.4rem;
	    line-height: 1.4;
	}

	.search-result-block .search-results-block--savethis a {
	    font-size: 1rem;
	}

	.search-result-block .search-results-block--savethis .icon-heart {
	    margin-right: 2px;
	}

	.search-result-block .search-results-block--moredetails {
	    padding-right: 0.5rem;
	    padding-left: 0.5rem;
	}

} // 1430px











@media (max-width: 1270px) {

	.main-content .main-content-main {
	    width: 80%;
	}

	.main-content .sidebar-left {
	    left: -80%;
	}

	.main-content .sidebar-right {
	    width: 100%;
	}

	.search-result-block {
	    font-size: 1rem;
	}

	.page-header.row .page-header-search {
	    display: none;
	}

	.page-header.row .medium-5 {
	    width: 100%;
	}



} // 1270















@media (max-width: 1140px) {




} // 1140














@media (max-width: 1090px) {




} // 1090








@media (max-width: 1024px) {


	.main-content .main-content-main, .main-content, .main-content .sidebar-left, .main-content.no-right-column .sidebar-left, .main-content.no-right-column .main-content-main {
	    width: 100%;
	    left: 0;
	}

	.search-result-block, .search-result-block .search-results-block--savethis a {
	    font-size: .9rem;
	}

	.padded {
	    padding: 1.1rem;
	}

	.review-container--header .review-container--header--left, .review-container--header .review-container--header--right {
	    width: 50%;
	}

	.review-container--header .review-container--header--right {
	    text-align: right;
	    
	    .stars {
	    	float: right;
	    }
	}


} // 1024







@media (max-width: 950px) {



	.search-result-block .search-results-block--logo {
		width: 20%;
	}

	.search-result-block .search-results-block--details {
		width: 40%;
	}

	.search-result-block .search-results-block--location {
		width: 40%;
	}

	.search-result-block .search-results-block--savethis {
		width: 30%;
		clear: left;
		text-align: center;
	}
    
    .search-result-block .search-results-block--moredetails {
		width: 100%;
		text-align: center;
	}

	.search-result-block, .search-result-block div {
	    padding: 0.4rem;
	}




} //  950











@media (max-width: 810px) {




} // 810








@media (max-width: 700px) {




} // 700








@media (max-width: 640px) {

	.main-content .main-content-main .main-content-main--breadcrumbs .sort-results, .main-content .main-content-main .main-content-main--breadcrumbs .save-share {
	    text-align: center;
	    float: none;
	    display: block;
	    margin-top: 15px;
	}

	.main-content .main-content-main .main-content-main--breadcrumbs p {
	    display: block;
	    text-align: center;
	}

	.main-content .main-content-main, .main-content, .main-content .sidebar-left {
		height: auto !important;
	}
	
	.padded, .reviews-graphs {
	    padding: .8rem;
	}

	.review-container--body .review-container--body--left, .review-container--body .review-container--body--right {
	    width: 100%;
	    float: none;
	}

	.job-reviews-by-company--job-review {
	    padding: 0;
	    padding-bottom: 1.5rem;
	}

	.job-reviews-by-company--job-review .stars .icon {
	    float: none;
	}	

	.job-review--header {
		text-align: center;
	}
	
	.job-reviews-by-company--job-review .stars {
	    //width: 100%;
	    float: none;
	    text-align: center;
	}

	.job-reviews-by-company--job-review .job-review-title {
	    width: 100%;
	    float: none;
	    text-align: center;
	}

	.top-companies .logo-container {
	    width: 39%;
	    float: none;
	    margin: 0;
	    margin-bottom: 10px;
	}

	.top-companies .job-reviews-by-company--job-review .job-review--footer span.top-companies--number {
	    float: left;
	    width: 12%;
	    padding: 0 20px;
	    line-height: 3;
	}

	.top-companies .company--quote {
	    width: 87%;
	    display: inline-block;
	    clear:both;
	}

	.top-companies p>.button:nth-of-type(1) {
		    margin-left: 8%;
	}

	.top-companies .job-reviews-by-company--job-review .job-review--footer span.top-companies--number {
		padding-left: 0;
		font-size: 2.5rem;
	}



} // 640









@media (max-width: 600px) {





} // 600








@media (max-width: 500px) {





} // 500








@media (max-width: 400px) {







} // 400
