.page-header.row {

	max-width: 100%;
	background-image: url('../../../img/page-header.jpg');
	background-size: cover;	
	padding: rem-calc(40);

	h1, h2, span, a {
		color: #fff;
	}

	h1, h2 {
		font-size: rem-calc(32);
		display: inline-block;
	}

	.hero--search {
		width: 80%;
		display: inline-block;
		text-align: right;

		.hero--search--button {
		    width: 21.2%;

		    .button {
		    	padding-top: .8em;
		    }
		}

		label {
			font-size: 1rem;
		}

		input {
			height: 60px;
		}

		.has-focus label {
			top: -30px;
		}
	}

	.page-header-search {
		text-align: right;
	}


	.page-header--larger h1 {
		font-size: rem-calc(42);
	}

} // page-header-row




.main-content {
	@include grid-row;
	max-width: 100%;

	&.no-right-column .main-content-main {
			 width: 80%;
			 left: 20%;
	}

	&.fullwidth .main-content-main {
			 width: 100%;
			 left: 0%;
	}

	.medium-9 {
		width: 75% !important;
	}
	.main-content-main, .medium-9 {
		  width: 68%;
		  float: left;
		  display: inline-block;
		  padding-left: 0;
		  padding-right: 0;
		  left: 20%;
		  position: relative;

		  &.fullwidth {
		  	width: 100%;
		  	float: none;
		  	left: 0;
		  }

			a {	
			  font-weight: bold;
			}

		  .main-content-main--breadcrumbs {
		  	background-color: $grey-light2;
		  	padding: rem-calc(15) rem-calc(30);
		  	padding-top: rem-calc(15);
		  	min-height: rem-calc(65);
		  	
		  	p {
		  		margin-bottom: 0;
		  		display: inline-block;

		  		a {
		  			font-weight: 400;
		  			color: $black;
		  		}
		  	}


		  	.sort-results {
		  		text-align: right;
		  		float: right;
		  		display: inline-block;
		  	}

		  	.save-share {
		  		text-align: right;
		  		float: right;
		  		display: inline-block;

		  		a {
		  			color: $black;

		  			&:nth-of-type(1) {
			  			margin-right: 30px;
		  			}
		  		}
		  	} // save-share

		  } // main-breadcrumbs	
		
		  .page-intro {
		  	font-weight: 600;
		  	font-size: rem-calc(18);
		  	padding-bottom: 20px;
		  	
		  	.stars.right {
		  		float: right;
		  	}
		  }
	} // main-content-main

	.icon-heart {
	      fill: none;
	      stroke-width: 20px;
	      stroke: $gold;
	      margin-bottom: -5px;
	      margin-right: 10px;
	}

	a:hover .icon-heart {
	      fill: $gold;
	}


} // main-content




.search-result-block {
	@include grid-row;
	max-width: 100%;
	padding: rem-calc(10);
	display: block;
	border-bottom: solid 1px $grey-medium;
	color: $black;
	font-size: 1.1rem;

	.search-results-block--logo {
		  @include grid-column(16%);

		  .logo-container {
		  	padding: 5px;
		  	background-color: #fff;
		  	min-height: 80px;
		  	display: flex;
		    -webkit-justify-content: center;
		    -ms-flex-pack: center;
		    justify-content: center;
			-webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;

		  	img {
		  		height: auto;
		  		flex: 0 0 auto;
		  	}
		  }
	}

	.search-results-block--details {
		  @include grid-column(34%);

		  a {
		  	color: $black;
		  	font-weight: 400;
		  }
	}

	.search-results-block--location {
		  @include grid-column(25%);
	}

	.search-results-block--savethis {
		  @include grid-column(12%);
		  padding-left: .5rem !important;
		  padding-right: .5rem !important;
		  padding-top: rem-calc(40);

		  a {
		  	color: $black;
		  	font-size: rem-calc(17);
		  }

		  .btn.remove {
		  	font-size: .8rem;
    		margin-top: 10px;
		  }
	}

	.search-results-block--moredetails {
		  @include grid-column(23%);

		  .button {
		  	margin-top: 15px;
		  	display: block;
		  }

		  .stars {
		  	margin-top: -10px;
		  }
	}

	&:nth-of-type(even) {
		background-color: lighten($grey-light, 2%);
	}

	div {
		padding: rem-calc(10);
	}


} // search-result-block




.saved-jobs {
	padding: rem-calc(20);

	.saved-jobs--job {
		margin-bottom: rem-calc(20);
		font-size: rem-calc(16);
	}
}




.reviews-graphs {
	background-color: $grey-light;
	padding: rem-calc(30);
	font-weight: 600;
	margin-bottom: rem-calc(20);
	.review-graph {
		margin-bottom: 15px;
		transition: transform .2s;

		&:hover {
			transform: scale(1.02);
			transition: transform .2s;
		}
	}

	.review-graph-black {
		display: block;
		height: 28px;
		background-color: $black;
		position: relative;

		.review-graph-blue {
			display: block;
			height: 28px;
			background-color: $blue;
		}

		.review-graph-number {
			position: absolute;
			left: rem-calc(10);
			top: rem-calc(2);
			color: #fff;
		}
	} // review-graph-black



} // .review-graphs


.review-container {
	margin-bottom: rem-calc(30);
	clear: both;
}

.review-container--header {
	margin-left: 0 !important;
	margin-right: 0 !important;
	background-color: $grey-light;
	border-bottom: solid 3px $grey-medium;
	padding: rem-calc(15);
	clear: both;
	border-top: solid 20px #fff;

	&:nth-of-type(1) {
		border-top: none;
	}

	.review-title {
		font-size: rem-calc(18);
		font-weight: 600;
		display: block;
	}

	.review-details {
		font-size: rem-calc(15);
		font-weight: 400;
		display: block;
	}

	.review-container--header--left {
		float: left;
		width: 85%;
	}

	.review-container--header--right {
		float: left;
		width: 15%;
		vertical-align: middle;
		padding-top: rem-calc(15);
	}

} // .review-container--header


.review-container--body {
	padding: rem-calc(15);
	clear: both;

	span {
		display: block;
		font-size: rem-calc(16);
		line-height: 1.7;
	}

	p {
		font-size: rem-calc(17);
	}

	.review-container--body--left {
		float: left;
		padding-right: 10px;
		width: 40%;

		span {
			margin-bottom: 10px;
		}
	}

	.review-container--body--right {
		float: left;
		width: 60%;
	}

} // .review-container--body





.inset-reviews {
	padding: rem-calc(20);
	font-size: rem-calc(15);

	.column, .columns {
		margin-bottom: rem-calc(20);
	}

	a {
		color: $black;
	}

	p {
		font-size: rem-calc(15);
	}

	.date-posted {
		font-size: rem-calc(14);
		text-align: right;
	}

	.button.gold {
		padding: rem-calc(8) rem-calc(10);
		font-size: rem-calc(14);
	}

} // inset-reviews



.main-content--grey-footer {
	background-color: $grey-light;
	border-top: solid 1px $grey-medium;

	h3 {
		font-size: rem-calc(22);
		font-weight: 600;
		text-align: center;
	}
}






.job-reviews-by-company--job-review {
	padding: rem-calc(20);

	.job-review-title {
		width: auto;
	    display: inline-block;
	    float: left;
	    font-size: rem-calc(20.5);
	    font-weight: 800;
	    padding: rem-calc(10) rem-calc(20);
	}

	.stars {
		//width: 30%;
		margin-top: 10px;
	    display: inline-block;
	    float: right;
	    text-align: right;

	    .icon {
	    	float: right;
	    }
	}

	.job-review--footer {
		clear: both;
	    padding: rem-calc(10) rem-calc(20);
		background-color: $grey-light;
		transition: background-color .3s;

		span {
			display: block;
			font-size: rem-calc(18);
		}

		strong {
			font-weight: 600;
		}
	} // footer

	a {
		color: $black;
		font-weight: 400 !important;
	}

	a:hover .job-review--footer {
		background-color: $grey-light2;
		transition: background-color .3s;
	}


} // job-reviews-by-company--job-review



.reviews-items {

	a {
		color: $black;
	}

	.stars {
		float: right;
	}

	.employer-title {
		font-color: $black;
		font-size: rem-calc(20.6);
		font-weight: 700;
	}

	.review-bottom {
		background-color: $grey-light;
		padding: 20px;

		span {
			font-weight: 400;
			display: block;
		}

		.add-review {
			float: right;
		}
	}

}


.more-icon-down-arrow {
	margin-left: 10px;
}

.icon-rotated {
	transform: rotate(180deg);
}

.filter-reviews-button {
	border: none;
	width: 100%;
	padding: 20px !important;
}

a.savethis {
	position: relative;
}

.icon-heart-hidden {
	position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;

    &.heartpulse {
    	-webkit-animation: heartpulse .5s linear 1;
		-moz-animation: heartpulse .5s linear 1;
		-ms-animation: heartpulse .5s linear 1;
		animation: heartpulse .5s linear 1;
	}
}

@keyframes heartpulse {
  0% {
  	opacity: 1;
  	transform: scale(1);
  }
  100% {
    	opacity: 0;
	  	transform: scale(2);
	}
}



.selected {	// === if the item has been shortlisted
		.icon-heart {
			fill: $gold;
		}
	}

.btn.remove {
		display: none;
}

.selected .btn.remove {
		display: block;
}

.selected .main-content-main--breadcrumbs .btn.remove {
    display: inline-block;
    margin-right: 15px;
    position: absolute;
    right: 25px;
    top: 50px;
}


.reveal {

	.close-button {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    display: block;
		    background: none;
		    padding: 5px;
		    width: auto;
	}

	.icon {
	    max-width: 40px;
	    max-height: 40px;
	    fill: #fff;
   		transition: all .3s;
	}

	a.share-link {
	    display: inline-block;
	    background: $blue;
	    text-align: center;
	    padding: 20px;
	    width: 24%;
	    border-bottom: solid 10px #fff;

	    &:hover {
	    	background: $pink;
			border-bottom: solid 10px $pink;
	    	transition: all .3s;
	    }
	}

	.button:hover {
		color: #fff;	
	}

} // reveal

.small-6.bolder {
	font-weight: 600;
}



.tabs-title > a {
    font-size: 1rem;
    color: #0a0a0a;
}

#reviews-tabs {
    //margin-left: 1.1rem;
}

#graduates.tabs-panel,#companies.tabs-panel, #apprentices.tabs-panel, #jobs.tabs-panel, #grad.tabs-panel, #app.tabs-panel, #enhanced.tabs-panel  {
    max-height: 800px;
	   overflow-y: scroll;
}

#enhanced.tabs-panel {
	svg {
		max-height: 30px;
		max-width: 30px;
		margin-right: 10px;
	}
}

.tabs-content {
    border: none;
}

.top-companies-toggle {

	.button {
		background-color: $grey-medium;
		color: $black;
		font-size: 1.1rem;
	}

	.button:hover {
		//color: #fff;
		background-color: darken($grey-medium,5%);
	}

	.button.active {
		background-color: $blue;
		color: #fff;
		position: relative;

		&:after {	
			content: "";
			position: absolute;
			bottom: -8px;
			left: 0;
			right: 0;
			width: 0; 
			height: 0; 
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $blue;
			margin-left: auto;
			margin-right: auto;
		}

		&:hover {
			background-color: darken($blue,5%);

				&:after {	
				border-top: 8px solid darken($blue,5%);
			}
		}
	}
}



.post-type-archive.woocommerce {

	h1.page-title, .woocommerce-result-count, .woocommerce-ordering {
		display: none;
	}

}


.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $blue;
}

.woocommerce div.product .product_title {
	font-size: 1.5rem;
    line-height: 1.4;
}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $blue;
}

.woocommerce .hero--search .hero--search--button .button {
    padding: 0.85em 1em;
    padding-top: .8em;
    color: #fff;
}




.woocommerce-account {

	.main-content.no-right-column .main-content-main {
	    width: 100%;
	    left: 0;
	}

	.sidebar-left {
		display: none;
	}

	.entry-content.padded {
		padding: 0;
	}

	.woocommerce-MyAccount-navigation {
	    width: 25%;
	    background-color: $grey-medium;

	    ul {
	    	margin: 0;
	    }

	    li {
	    	display: block;
	    	border-bottom: solid 1px #fff;
	    }

	    a {
	    	display: block;
	    	padding: 20px 30px;
	    	color: $black;
	    	font-size: 1.1rem;

	    	&:hover {
	    		background: darken($grey-medium, 5%);
	    	}
	    }

	    li.is-active a {
	    	color: #fff;
	    	background: $blue;
	    	font-weight: 900;
	    }

	}

	.woocommerce-MyAccount-content {
		width: 75%;
		padding: 20px;
	}

	input[type="text"],input[type="email"],input[type="password"],input[type="number"] {
	    height: 49px;
    	padding: 5px;
	}

} // woocommerce-account


.woocommerce 	input.button {
		    padding: 0.85em 1em;
		    transition: background-color 0.25s ease-out, color 0.25s ease-out;
		    line-height: 1;
		    text-align: center;
		    background-color: $blue;
		    color: #fff;
		    display: inline-block;

		  &:hover {
		    background-color: darken($blue, 5%);
		    color: #fff;
		  }

	}


.star-ratings-container {
	background-color: $grey-light;
	padding: rem-calc(20);

	div.rating {
		padding: 5px;
		padding-bottom: 15px;
	}

	.stars {
		float: right;
	}

}



#industriesTabsContent {

	a {
		display: block;
	}

}

.employer-page--basic-container, .employer-page--enhanced-container {

	.employer-page--header {
		    background: $pink;
		     color: #fff;
		    padding: 20px;
		    margin-bottom: 3px;
		    font-size: rem-calc(22);
		    text-align: center;
	}

	
	.employer-page--footer {
		    background: #575756;
		    color: #fff;
		    padding: 30px;
		    padding-bottom: 50px;
		    text-align:right;
		    position: relative;

		    span {
		    	display: block;
		    }

		    .price {
		    	font-size: rem-calc(28);
		    	margin-top: 70px;
			    margin-left: auto;
		    	max-width:60%;
		    }

		    img {
		    	    position: absolute;
				    left: 10px;
				    bottom: 10px;
				    max-width:40%;
		    }
	}

	a:hover {

		.employer-page--header {
		    background: darken($pink,6%);
		}

		
		.employer-page--footer {
			    background: darken(#575756,6%);
		}
	}

} //employer-page--enhanced-container




.employer-page--basic-container {

	.employer-page--header {
		    background: $blue;
	}

	
	.employer-page--footer {
		    background: #878787;
	}



	a:hover {

		.employer-page--header {
		    background: darken($blue,6%);
		}

		
		.employer-page--footer {
			    background: darken(#878787,6%);
		}

	}

} //employer-page--basic-container

/*
.enhanced-profile {

	height: 200px;
	overflow: hidden;
	border: solid 2px $grey-medium;
	margin-bottom: rem-calc(30);
	padding: 20px;
	transition: all .3s;

	&.expanded {
		height: 100%;
		transition: all .3s;
	}

}	

.enhanced-profile-title {
		background-color: $blue;
		padding: 10px 15px;
		display: inline-block;
		color: #fff;
		font-weight: 600;
		margin-bottom: -2px;
		cursor: pointer;

		svg {
			fill: #fff;
			height: 12	px;
		}
	}*/



.users-php span.view {
		display: none !important;
	

}




#comments, #respond {
	padding: rem-calc(25);

	li {
		list-style: none;
	}


	label[for="acf-field_59e89178c9cc2"], label[for="comment"] {
			display: none;
	}

	h3 {
	    font-size: 1.65rem;
	}

	p.comment-form-comment {
		margin-bottom: 0;
	}

	.comment-author {
		* {
			display: inline-block;
		}

		cite:before {
		    content: none;
		}

		img {
			display: none;
		}
	}

	.byuser img {
		display: none;
	}

	.acf-radio-list {
		li {
			display: inline-block;
		}

		label {
			background-image: url('../../../img/star-single.png');
			cursor: pointer;
			line-height: 2.5;
			font-size: 0;
			height: 20px; 
			width: 20px;
		    display: block;
		    margin-right: 3px;

			 input[type="radio"] {
			  border: 0; 
			  clip: rect(0 0 0 0); 
			  height: 1px; margin: -1px; 
			  overflow: hidden; 
			  padding: 0; 
			  position: absolute; 
			  width: 1px;
			}
		
		} // label

		label.selected {
			background-image: url('../../../img/star-single-darker.png');
		}

	}
}



#comments {
	margin: 0 rem-calc(30);
	padding: 0;

	li {
		padding: 30px;
		background-color: $grey-light;
	}

	li:nth-of-type(even) {
		background-color: $grey-light2;
	}
}



.page-template-page-salary {

	select {
		padding: 10px;
		margin-bottom: 10px;
	}


	input[type="submit"] {
		background-color: $blue;
		padding: 10px 20px;
		color: #fff;
		border: none;
		cursor: pointer;
		transition: all .3s;
		
		  &:hover {
		    background-color: darken($blue, 5%);
		    color: #fff;
		    transition: all .3s;
		  }

	}

} 



.top-companies {

	.logo-container {
		width: 25%;
	    margin-right: 10px;
	    display: inline-block;
	    vertical-align: top;
	    float: right;
	    text-align: right;
   		margin-bottom: -30px;

	    img {
	    	max-height: 140px;
	    }
	}

	.job-reviews-by-company--job-review .job-review--footer span {
	    display: inline-block;
	    width: 70%;
	}

	.job-review--footer {
		//max-height: 180px;
		//overflow: hidden;
	}

	.button {
		color: #fff;
		margin-top: 5px;
	}

	.button.pink {
		margin-right: 10px;
	}

	.job-reviews-by-company--job-review .job-review--footer span.top-companies--number {
		font-size: 3.3rem;
	    font-weight: 900;
	    float: left;
	    width: auto;
	    padding: 0 20px;
	    line-height: 1;
	}


	.job-review--footer {

		p {
			clear: both;
		}

	}

	.company--quote {
		    width: 60%;
    		display: inline-block;
	}


} // top-companies




.enhanced-alternate-company {
	display: block;
}

.tabs-title  {
    height: 100%;
}

.tabs-title > a {
    padding: 1.25rem 1.2rem;
    height: 100%;
}


.time-graph {
	width: 100%;
	background-color: lighten($black, 5%);
	position: relative;
	height: 180px;

	.time-dot {
		position: absolute;
		background-color: $blue;
		//border: solid 2px #fff;
		height: 15px;
		width: 15px;
		border-radius: 100px;
		top: 66%;
		transform: translateX(-7px);
		z-index: 99999999;
		color: #fff;
		font-size:.8rem;
		display: none;
	}


	.average-start-and-end {
		background-color: $blue;
		position: absolute;
		height: 35px;
		color: #fff;
		font-weight: bold;
		top: 40%;
		z-index: 30;
		text-align: center;
		padding: 4px;
    	border-radius: 5px;
	}

	.line-hour-bottom-div {
		span {
			position: absolute;
			color: #fff;
			font-size: .8rem;

			&:after {
				content: "";
				height: 180px;
			    width: 1px;
			    background-color: transparentize(#fff,.8);
			    position: relative;
			    z-index: 10;
			    position: absolute;
			    left: 0;
			}
		}

		.range-hour-1 {
			left: 4.1%;
		}

		.range-hour-2 {
			left: 8.33%;
		}

		
		.range-hour-3 {
			left: 12.5%;
		}


		.range-hour-4 {
			left:  16.6%;
		}

		.range-hour-5 {
			left: 20.8%;
		}

		.range-hour-6 {
			left:24.9%;
		}


		.range-hour-7 {
			left: 29.1%;
		}


		.range-hour-8 {
			left: 33.28%;
		}


		.range-hour-9 {
			left: 37.44%;
		}


		.range-hour-10 {
			left: 41.6%;
		}


		.range-hour-11 {
			left: 45.76%;
		}


		.range-hour-12 {
			left: 50%;
		}


		.range-hour-13 {
			left: 54.1%;
		}


		.range-hour-14 {
			left: 58.24%;
		}


		.range-hour-15 {
			left: 62.4%;
		}
		


		.range-hour-16 {
			left: 66.56%;
		}


		.range-hour-17 {
			left: 70.7%;
		}


		.range-hour-18 {
			left: 75%;
		}


		.range-hour-19 {
			left: 79.1%;
		}


		.range-hour-20 {
			left: 83.2%;
		}


		.range-hour-21 {
			left: 87.4%;
		}

		.range-hour-22 {
			left: 91.5%;
		}


		.range-hour-23 {
			left: 95.6%;
		}


		.range-hour-24 {
			left: 100%;
			font-size: 0;
		}

	}

}



@media (max-width: 1000px) {



.time-graph {

	.line-hour-bottom-div {

		.range-hour-1 {

		}

		.range-hour-2 {
			display: none;
		}
		
		.range-hour-3 {
			display: none;
		}

		.range-hour-4 {
			display: none;
		}

		.range-hour-5 {
			display: none;
		}

		.range-hour-6 {
			display: none;
		}

		.range-hour-7 {
			display: none;
		}

		.range-hour-8 {
			display: none;
		}

		.range-hour-9 {
			left: 37.44%;
		}

		.range-hour-10 {
			display: none;
		}

		.range-hour-11 {
			display: none;
		}

		.range-hour-12 {
			display: none;
		}

		.range-hour-13 {
			display: none;
		}

		.range-hour-14 {
			display: none;
		}

		.range-hour-15 {
			display: none;
		}
		
		.range-hour-16 {
			display: none;
		}

		.range-hour-17 {
			left: 70.7%;
		}

		.range-hour-18 {
			display: none;
		}

		.range-hour-19 {
			display: none;
		}

		.range-hour-20 {
			display: none;
		}

		.range-hour-21 {
			display: none;
		}

		.range-hour-22 {
			left: 91.5%;
		}

		.range-hour-23 {
			display: none;
		}

		.range-hour-24 {
			left: 100%;
			display: none;
		}
	}
}


}




.company-biography--facts {
	background-color: $grey-light2;
	padding: 20px;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 
				
.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}





.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 25%;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 73%;
}


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $pink;
}


.woocommerce div.product form.cart .variations select {
    padding: 10px;
}

.woocommerce div.product form.cart .button {
    display: block;
    padding: 15px 30px;
}


.woocommerce div.product .product_title {
    display: inline-block;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    display: inline;
    width: 50%;
    margin-left: 30px;
}

div.product .woocommerce-variation-price  span.price {
    margin-left: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    border: none;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    border-radius: 0;
    color: #fff;
    background-color: $blue;
}

.woocommerce-message::before {
    color: $blue;
}

.woocommerce-message {
    border-top-color: $blue;
}


.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce select  {
    padding: 10px;
}


.page-id-93 .reviews-items {
	padding: rem-calc(15);
}

.page-id-93 {
	
	#graduates.tabs-panel, #companies.tabs-panel, #apprentices.tabs-panel, #jobs.tabs-panel, #grad.tabs-panel, #app.tabs-panel, #enhanced.tabs-panel {
	    max-height: 2800px;
	}

}