.main-content {


	&.no-right-column .sidebar-left {
			 left: -80%;
	}	

	.sidebar-left {
		  width: 20%;
		  float: left;
		  display: inline-block;
		  padding-left: 0;
		  padding-right: 0;
  		  background-color: $grey-light2;
  		  left: -68%;
		  position: relative;

  		  ul {
  		  	padding: rem-calc(20);
  		  	list-style: none;
  		  	margin: 0;
  		  }

  		  li a {
 	  		  	font-size: rem-calc(20);
  		  }

  		  a, ul ul li {
  		  	color: $black;
  		  	display: block;
  		  	padding: 5px;

  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  } // a

  		  p {
  		  	font-size: rem-calc(18);
  		  }

  		  .button {
  		  	padding: rem-calc(8) rem-calc(20);
  		  	margin-bottom: rem-calc(15);
			color: #fff;
			line-height: 1.7;
			font-weight: bold;
			
  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  }

  		  .button.padded {
  		  	padding: rem-calc(20);
  		  }
  		  
  		  .button.strong {
  		  	font-weight: 600;
  		  }

  		  ul ul {
  		  	padding-top: 0;
  		  }

  		  ul ul a,  ul ul li {
  		  	font-size: rem-calc(17);
  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  } // ul ul a

  		  em {
  		  	font-size: rem-calc(14);
  		  }


			.sidebar-left--company-logo {

				background-color: #fff;
				padding: rem-calc(20);
				text-align: center;
				margin: rem-calc(20);

			} //sidebar-left--company-logo


			.sidebar-left--company-details {
				font-size: rem-calc(18);
				padding: rem-calc(6);

				.columns {
					margin-bottom: rem-calc(10);
				}

				a {
					color: $blue-dark;
					padding: 0;
					font-weight: 600;
					text-decoration: underline;
					display: inline-block;
				}

			} //sidebar-left--company-details


			.sidebar-left--company-media {
				font-size: rem-calc(18);
				padding: rem-calc(6);
				text-align: center;
				img {
					margin-bottom: rem-calc(10);
				}

			} //sidebar-left--company-media



			.sidebar-left--key-information {
				padding: rem-calc(25);

				.icon {
					margin-right: rem-calc(10);
				}

				a {
					display: block;
					font-size: rem-calc(18);
					font-weight: 400;
					margin-bottom: rem-calc(25);

					&:hover {
						font-weight: 600;
					}
				} // a
			}



			.sidebar-left--application-tips {
				padding: rem-calc(25);

			}


			.sidebar-left--benefits {

				padding: rem-calc(20);

				.benefits-number-container {
					width: 20%;
					float: left;

					span {
						background-color: black;
						height: rem-calc(50);
						width: rem-calc(50);
						display: block;
						text-align: center;
						vertical-align: middle;
						color: #fff;
						border-radius: 300px;
						font-size: rem-calc(25);
						line-height: 1.8;
						font-weight: bold;
						font-style: italic;
						display: inline-block;
					}
				}

				.benefits-details {
					width: 80%;
					float: left;

					.title {
						font-size: rem-calc(20);
						font-weight: 600;
					}

					p {
						font-size: rem-calc(15);
					}
				}

			}


		.blog-sidebar {

			h6 {
				font-size: 1.3rem;
    			font-weight: 600;
			}

			ul {
			    padding: 0;
			    margin: 0;
			    margin-bottom: rem-calc(25);

			    li a {
				    font-size: 1.1rem;
				}
			} // ul

		} // blog-sidebar

	} // sidebar-left

	.sidebar-right {
		  width: 12%;
		  float: left;
		  display: inline-block;
		  padding-left: 0;
		  padding-right: 0;
		  background-color: $grey-light2;

		  .icon-trophy-white {
		  	fill: #fff;
		  }

		  p {
		  	font-size: rem-calc(15);
		  }

		  a {
		  	color: $black;
		  }

		  .padded {
		  		padding: 1rem;		  		
		  }

	}

	.sidebar--header, .single-industry-sidebar--header {
	  	background-color: $grey-medium;
	  	padding: rem-calc(12) rem-calc(20);

		h3 {
			font-size: 1.5rem;
			font-weight: 600;
			display: inline-block;
		}

		.icon {
			margin-top: 6px;
			float: right;
			display: inline-block;
			max-height: rem-calc(25);
			max-width: rem-calc(25);
		}

		.icon.icon-trophy-white {
			float: left;
		    margin-right: 10px;
		}

	} // sidebar--header

	.single-industry-sidebar--header {
			background-color: #E6E7E8;
			padding-bottom: 0;

			h3 {
				font-size: 1.35rem;
				font-weight: 600;
				display: inline-block;
				margin-bottom: 0;
			}

		}



	.sidebar {	//=========================================== sidebar used on shop page for example
		  background-color: $grey-light2;


  		  ul {
  		  	padding: rem-calc(20);
  		  	list-style: none;
  		  	margin: 0;
  		  }

  		  li a {
 	  		  	font-size: rem-calc(20);
  		  }

  		  a, ul ul li {
  		  	color: $black;
  		  	display: block;
  		  	padding: 5px;

  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  } // a

  		  p {
  		  	font-size: rem-calc(18);
  		  }

  		  .button {
  		  	padding: rem-calc(8) rem-calc(20);
  		  	margin-bottom: rem-calc(15);

  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  }

  		  ul ul {
  		  	padding-top: 0;
  		  }

  		  ul ul a,  ul ul li {
  		  	font-size: rem-calc(17);
  		  	&:hover {
  		  		font-weight: bold;
  		  	}
  		  } // ul ul a

  		  em {
  		  	font-size: rem-calc(14);
  		  }

	} // .sidebar


} // main-content




//=========== review filters 


.sidebar-left {

	h2, h3 {
		font-size: rem-calc(20);
	}

	#towns {
		display: block;
		height: 50px;
		width: 100%;
		background-image: url('../../../img/icon-search.png');
		background-position: 10px 50%;
		padding-left: 40px;
		background-repeat: no-repeat;
    	border: solid 1px #bbb;
	}

	.industries-more {
		font-size: rem-calc(16);
		//margin-top: 10px;
    	display: block;
	}

	.results-categories--container {

		max-height: 285px;
		overflow: hidden;
		transition: all .6s;

		&.show-all-industries {
			max-height: 2000px;
			transition: all 1.6s;
		}
		li, label {
			display: block;
			min-height: 30px;
			font-size: rem-calc(16);			
		}

		ul {
			padding: 0;
		}
	
		label[for="towns"] {
			font-size: 1.125rem;
			margin-top: 20px;
		}

		.results-categories--subcategories.job-type--filter>p {
			    	margin-top: 40px;
		}
	}

	.industries-wrapper, .results-categories--subcategories {
		max-height: 150px;
		overflow: hidden;
		transition: all .6s;

		&.show-all-industries {
			max-height: 2000px;
			transition: all 1.6s;
		}
		li, label {
			display: block;
			min-height: 30px;
			font-size: rem-calc(16);			
		}

		ul {
			padding: 0;
		}
	}

	.industries-more {
		cursor: pointer;
		//display: none;
		margin-bottom: 30px;
		
		.icon {
			max-height: 6px;
		}
	}


	.container {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 22px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	/* Hide the browser's default checkbox */
	.container input {
	  position: absolute;
	  opacity: 0;
	}

	/* Create a custom checkbox */
	.checkmark {
	  position: absolute;
	  top: 4px;
	  left: 0;
	  height: 19px;
	  width: 19px;
	  background-color: #eee;
	  border: solid 1px #bbb;
	}

	/* On mouse-over, add a grey background color */
	.container:hover input ~ .checkmark {
	  background-color: #ccc;
	}

	/* When the checkbox is checked, add a blue background */
	.container input:checked ~ .checkmark {
	  background-color: $blue;
	}

	/* Create the checkmark/indicator (hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the checkmark when checked */
	.container input:checked ~ .checkmark:after {
	  display: block;
	}

	/* Style the checkmark/indicator */
	.container .checkmark:after {
	  left: 6px;
	  top: 3px;
	  width: 5px;
	  height: 10px;
	  border: solid white;
	  border-width: 0 3px 3px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.radio-container input:checked ~ .stars {
		margin-left: 10px;
	}

	.radio-container {
		margin-bottom: 0;
	}

	ul.reviews-by-rating {
		padding: 0;
	}


	ul.results-categories--subcategories { //	====== the "jobs filtering" ul
		padding: 0;
		max-height: 3000px;
		overflow: visible;

		ul {
			padding: 0;
		}

		label {
			cursor: pointer;
		}

		input[type="checkbox"] {
			margin-right: 6px;
			cursor: pointer;
		}

		input:checked + label { 
			font-weight: 600;
		}


	}

}
 // sidebar-left










 // ============================= saved jobs


 .saved-jobs {

 	.btn.remove {
	    display: block;
	    display: inline-block;
	    background: #d1d3d4;
	    padding: 3px 10px;
	    margin-top: 10px;
	}

	.no-saved-items {
		display: none;
	}

 } // saved-jobs